html, body {
    height: 100%;
}

.form-buttons-group {
    margin-top: 30px;
}

.form-buttons-group input[type="submit"], .form-buttons-group input[type="button"] {
    margin-left: 10px;
}

.form-buttons-group input[type="submit"]:first-of-type, .form-buttons-group input[type="button"]:first-of-type {
    margin-left: 0px;
}

.panel {
    background: linear-gradient(#FFF, #E0E0E0);
}
